// Layout Styling --------------------------------------------------------------
.l-container {
    display: flex;
    flex-direction: column;

    // Breakpoints
    @media screen and (min-width: $layout-width-m) and (min-height: $layout-height-m) {
        flex-direction: row;
    }
}
