// Layout Styling --------------------------------------------------------------
.l-info {
    align-items: center;
    display: flex;
    flex-direction: column ;
    padding-top: rem(80);
    padding-bottom: rem(100);
    z-index: z(o-info);

    background-color: c(time, night); // Fallback background color

    // States
    .is-daytime & {
        background-color: c(time, night);
    }

    .is-nighttime & {
        background-color: c(time, day);
    }

    // Breakpoints
    @media screen and (min-width: $layout-width-m) {
        flex-basis: 35%;
        justify-content: space-between;
        padding-top: 0;
        padding-bottom: 0;
    }
}
