// Layout Styling --------------------------------------------------------------
.l-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 4vh;
    padding-top: 10vh;
    z-index: z(o-info);

    background-color: c(time, night); // Fallback background color

    transition: background-color $animation-duration-longest $animation-ease;

    // States
    .is-daytime & {
        background-color: c(time, night);
    }

    .is-nighttime & {
        background-color: c(time, day);
    }

    // Breakpoints
    @media screen and (min-width: $layout-width-m) {
        flex-basis: 35%;
        justify-content: space-between;
    }
}
