// Object Styling --------------------------------------------------------------
.o-container {
    display: flex;
    flex-direction: column;

    // Breakpoints
    @media screen and (min-width: $breakpoint-desk-small) {
        flex-direction: row;
    }
}
