// Object Styling --------------------------------------------------------------
.o-container {
    display: flex;
    flex-direction: column;

    // Breakpoints
    @include media(">desk-small") {
        flex-direction: row;
    }
}
