<!-- Start of `c-install-instructions` -->
<div class="c-install-instructions">
    <svg xmlns="http://www.w3.org/2000/svg"
        class="c-install-instructions__banner-left"
        role="presentation"
        viewBox="0 0 60 80">
        <g fill-rule="evenodd">
            <path d="M52 .11L32.034 9v41H0l19.47-24.94S3.483 4.45 0 0l52 .11z"/>
            <path d="M36 80V14h24v66H36zM40 10l20-9v9H40z"/>
        </g>
    </svg>
    <div class="c-install-instructions__banner-center">
        <p class="c-install-instructions__title">
            Add to your homescreen
        </p>
        <ul class="c-install-instructions__list">
            <li class="c-install-instructions__list__item">
                <a rel="external" href="http://www.howtogeek.com/196087/how-to-add-websites-to-the-home-screen-on-any-smartphone-or-tablet/">Android</a>
            </li>
            <li class="c-install-instructions__list__item">
                <a rel="external" href="http://www.howtogeek.com/196087/how-to-add-websites-to-the-home-screen-on-any-smartphone-or-tablet/">iOS</a>
            </li>
        </ul>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg"
        class="c-install-instructions__banner-right"
        role="presentation"
        viewBox="0 0 60 80">
        <g fill-rule="evenodd">
            <path d="M8 .11L27.966 9v41H60L40.53 25.06S56.517 4.45 60 0L8 .11z"/>
            <path d="M24 80V14H0v66h24zM20 10L0 1v9h20z"/>
        </g>
    </svg>
</div>
<!-- End of `c-install-banner` -->

Banner
banner: (
    background-night: #26394b,
    background-day:   #d6edf0,
    type-night:       #26394b,
    type-day:         #d6edf0
),

// Component Logic -------------------------------------------------------------
$banner-distance-tweak: rem(-1);


// Component Styling -----------------------------------------------------------
.c-install-instructions {
    @extend %font-set-component-size;

    align-items: flex-end;
    display: flex;
    margin-bottom: rem(40);
    z-index: z(c-install-instructions);

    transition: transform 200ms $animation-ease;

    &:hover {
        transform: scale(1.05);
    }

    // Breakpoints
    @media screen and (min-width: $bp-800) { // and (min-height:700px) {
        margin-bottom: rem(60);
    }

    &__banner-center {
        height: rem(66);
        padding-left: rem(7);
        padding-right: rem(7);

        background-color: c(banner, background-day);

        text-align: center;

        // Conditions
        .is-nighttime & {
            background-color: c(banner, background-night);
        }
    }

    &__banner-left,
    &__banner-right {
        height: rem(80);
        width: rem(60);

        fill: c(banner, background-day);

        // Conditions
        .is-nighttime & {
            fill: c(banner, background-night);
        }
    }

    // Slight tweak to remove hairline gap on high-density displays
    &__banner-left {
        margin-right: $banner-distance-tweak;
    }

    // Slight tweak to remove hairline gap on high-density displays
    &__banner-right {
        margin-left: $banner-distance-tweak;
    }

    &__title {
        @extend %font-tracking-slight;

        margin: 0;
        padding-top: rem(12);
        padding-bottom: rem(2);

        color: c(type, night);
        font-size: em(11);
        text-transform: uppercase;
        font-weight: $font-weight-light;

        cursor: default;

        // Conditions
        .is-nighttime & {
            color: c(type, day);
        }
    }

    &__list {
        margin: 0;
        padding: 0;

        list-style-type: none;

        li {
            display: inline;
        }
    }

    &__list__item {
        font-size: em(22);

        &:last-of-type {
            margin-left: rem(15);
        }

        a {
            color: c(type, night);

            // Conditions
            .is-nighttime & {
                color: c(type, day);
            }
        }
    }
}
