// Component Styling -----------------------------------------------------------
.c-poem {
    margin: 0 0 rem(30) 0;
    z-index: z(c-tower);

    text-align: center;

    // Conditions
    .sun-night & {

    }

    // Breakpoints
    @include media(">desk-small") {
        margin-bottom: rem(40);
    }

    &__lines {
        margin-top: 0;
        margin-bottom: rem(10);

        line-height: 1.9;
    }

    &__more-info {
font-size: 9pt;
        font-weight: $font-weight-light;

        border-bottom: 1px dashed;

        @extend %font-tracking-loose;
        text-transform: uppercase;

        // Conditions
        .sun-night & {

        }
    }
}
