// Component Styling -----------------------------------------------------------
.c-project-info {
    @extend %font-set-component-size;

    margin-top: auto; // Aligns to the bottom of the viewport at 2col

    z-index: z(c-project-info);

    color: c(gray, light);
    font-style: normal;
    line-height: 0.8;
    text-align: center;

    // Conditions
    .is-nighttime & {
        color: c(gray, darker);
    }

    &__by {
        @extend %font-tracking-slight;

        margin-bottom: rem(-6);

        font-size: em(13);
        font-weight: $font-weight-light;
        text-transform: uppercase;
    }

    &__authors {
        font-weight: $font-weight-light;

        a {
            font-weight: $font-weight-medium;

            &:first-of-type {
                margin-right: rem(2);
            }

            &:last-of-type {
                margin-left: rem(3);
            }
        }
    }

    &__more-info {
        @extend %font-tracking-loose;

        // border-bottom: 1px dashed c(gray, medium);

        font-size: em(12);
        font-weight: $font-weight-light;
        text-transform: uppercase;

        // transition: border-color $animation-duration-shorter ease-in-out;

        // HACK: Clips the letter-spacing's trailing underline
        // &:after {
        //     height: rem(25);
        //     margin-left: rem(-4);
        //     position: absolute;
        //     width: rem(10);
        //
        //     background-color: c(banner, background-night);
        //
        //     content: "";
        // }

        // States
        // &:hover {
        //     border-color: transparent;
        // }

        // Conditions
        .is-nighttime & {
            color: c(gray, darker);

            // States
            &:hover {
                color: c(gray, dark);
            }

            &:active {
                color: black;
            }

            // HACK: Clips the letter-spacing's trailing underline
            // &:after {
            //     background-color: c(banner, background-day);
            // }
        }
    }
}
