// Component Styling -----------------------------------------------------------
.c-project-info {
    margin-bottom: rem(100);
    z-index: z(c-project-info);

    font-style: normal;
    line-height: 0.8;
    text-align: center;

    // Breakpoints
    @include media(">desk-small") {
        margin-bottom: 0;
    }

    &__by {
font-size: 10pt;
        margin-bottom: rem(-6);

        @extend %font-tracking-slight;
        font-weight: $font-weight-light;
        text-transform: uppercase;

        // Conditions
        .sun-night & {

        }
    }

    &__authors {
        margin-bottom: rem(20);

        font-weight: $font-weight-light;

        // Conditions
        .sun-night & {

        }

        a {
            font-weight: $font-weight-medium;

            &:first-of-type {
                margin-right: rem(2);
            }

            &:last-of-type {
                margin-left: rem(3);
            }

            // Conditions
            .sun-night & {

            }
        }
    }

    &__project-link {
        width: rem(32);

        fill: c(github, base-day);

        transition: all $animation-duration-shortest $animation-ease;

        // States
        &:hover {
            transform: scale(1.2);
        }

        &:active {
            transform: scale(0.9);
            transition: none;
        }

        // Conditions
        .sun-night & {
            fill: c(github, base-night);
        }
    }
}
