// Component Styling -----------------------------------------------------------
.c-poem {
    margin: 0 0 rem(30) 0;
    z-index: z(c-tower);

    text-align: center;

    // Conditions
    .sun-night & {

    }

    // Breakpoints
    @include media(">desk-small") {
        margin-bottom: rem(40);
    }

    &__lines {
        margin-top: 0;
        margin-bottom: rem(10);

        line-height: 1.9;
    }

    &__more-info {
font-size: 9pt;
        font-weight: $font-weight-light;

        border-bottom: 1px dashed c(gray, medium);

        @extend %font-tracking-loose;
        text-transform: uppercase;

        // Nasty hack that clips the letter-spacing's trailing underline
        &:after {
            content: "";
            position: absolute;
            height: rem(25);
            margin-left: rem(-4);
            width: rem(10);

            background-color: c(banner, background-night);
        }

        // Conditions
        .sun-night & {
            color: c(gray, darker);

            // States
            &:hover {
                color: c(gray, dark);
            }

            &:active {
                color: black;
            }

            // Nasty hack that clips the letter-spacing's trailing underline
            &:after {
                background-color: c(banner, background-day);
            }
        }
    }
}
