// Component Styling -----------------------------------------------------------
.c-project-info {
    z-index: z(c-project-info);

    color: c(gray, light);
    font-style: normal;
    line-height: 0.8;
    text-align: center;

    // Conditions
    .sun-night & {
        color: c(gray, darker);
    }

    &__by {
font-size: 10pt;
        margin-bottom: rem(-6);

        @extend %font-tracking-slight;
        font-weight: $font-weight-light;
        text-transform: uppercase;
    }

    &__authors {
        margin-bottom: rem(20);

        font-weight: $font-weight-light;

        a {
            font-weight: $font-weight-medium;

            &:first-of-type {
                margin-right: rem(2);
            }

            &:last-of-type {
                margin-left: rem(3);
            }
        }
    }

    &__project-link {
        width: rem(32);

        fill: c(github, base-day);

        transition: all $animation-duration-shortest $animation-ease;

        // States
        &:hover {
            transform: scale(1.2);
        }

        &:active {
            transform: scale(0.9);
            transition: none;
        }

        // Conditions
        .sun-night & {
            fill: c(github, base-night);
        }
    }
}
