// Component Logic -------------------------------------------------------------
%c-project-info-link {
    transition:
      background $animation-duration-shortest $animation-ease,
      color $animation-duration-shortest $animation-ease,
      outline $animation-duration-shortest $animation-ease;

    // States
    &:hover {
        background-color: c(link, base-day);
        outline: rem(6) solid c(link, base-day);

        color: c(type, night);
    }

    &:active {
        outline-width: rem(3);

        transition: none;
    }

    // Conditions
    .is-nighttime & {

        &:hover {
            background-color: c(link, base-night);
            outline-color: c(link, base-night);
            color: c(type, day);
        }
    }
}


// Component Styling -----------------------------------------------------------
.c-project-info {
    @extend %font-set-component-size;

    margin-top: auto; // Aligns to the bottom of the viewport at 2col

    z-index: z(c-project-info);

    font-style: normal;
    line-height: 0.8;
    text-align: center;

    &__by {
        @extend %font-tracking-slight;

        margin-bottom: rem(-6);

        font-size: em(13);
        font-weight: $font-weight-light;
        text-transform: uppercase;

        // Breakpoints
        // 1col
        @media screen and (min-width: $bp-600) and (max-width: ($layout-width-m - em(1))) {
            font-size: calc(#{em(13)} + 0.4vw);
        }

        // 2col
        @media screen and (min-height: $layout-height-m) and (min-width: $bp-1300) {
            font-size: calc(#{em(13)} + 0.2vw);
        }
    }

    &__authors {
        font-weight: $font-weight-light;

        // Breakpoints
        // 1col
        @media screen and (min-width: $bp-600) and (max-width: ($layout-width-m - em(1))) {
            font-size: calc(#{em(13)} + 0.6vw);
        }

        // 2col
        @media screen and (min-height: $layout-height-m) and (min-width: $bp-1300) {
            font-size: calc(#{em(13)} + 0.4vw);
        }

        a {
            @extend %c-project-info-link;

            font-weight: $font-weight-medium;

            &:first-of-type {
                margin-right: rem(2);
            }

            &:last-of-type {
                margin-left: rem(3);
            }
        }
    }

    &__more-info {
        @extend %font-tracking-loose;
        @extend %c-project-info-link;

        font-size: em(12);
        text-transform: uppercase;

        // Breakpoints
        // 1col
        @media screen and (min-width: $bp-600) and (max-width: ($layout-width-m - em(1))) {
            font-size: calc(#{em(12)} + 0.4vw);
        }

        // 2col
        @media screen and (min-height: $layout-height-m) and (min-width: $bp-1300) {
            font-size: calc(#{em(12)} + 0.2vw);
        }
    }
}
