// Component Styling -----------------------------------------------------------
.c-poem {
    @extend %font-set-component-size;

    margin-top: 20vh;
    z-index: z(c-tower);

    text-align: center;

    &__lines {
        margin-top: 0;
        margin-bottom: rem(10);

        line-height: 1.9;

        transition: font-size $animation-duration-short $animation-ease;

        // Breakpoints
        // @media screen and (min-width: $bp-1500) {
        //     font-size: em(20);
        //     line-height: 2.1;
        // }
        //
        // @media screen and (min-width: $bp-1800) {
        //     font-size: em(24);
        // }
        //
        // @media screen and (min-width: $bp-2400) {
        //     font-size: em(28);
        // }
    }

    &__more-info {
        @extend %font-tracking-loose;

        border-bottom: 1px dashed c(gray, medium);

        font-size: em(12);
        font-weight: $font-weight-light;
        text-transform: uppercase;

        transition: border-color $animation-duration-shorter ease-in-out;

        // HACK: Clips the letter-spacing's trailing underline
        &:after {
            height: rem(25);
            margin-left: rem(-4);
            position: absolute;
            width: rem(10);

            background-color: c(banner, background-night);

            content: "";
        }

        // States
        &:hover {
            border-color: transparent;
        }

        // Conditions
        .is-nighttime & {
            color: c(gray, darker);

            // States
            &:hover {
                color: c(gray, dark);
            }

            &:active {
                color: black;
            }

            // HACK: Clips the letter-spacing's trailing underline
            &:after {
                background-color: c(banner, background-day);
            }
        }
    }
}
