// Component Styling -----------------------------------------------------------
.c-social-links {
    @extend %font-set-component-size;

    margin-bottom: 12vh;

    // Breakpoints
    @media screen and (min-width: $layout-width-m) and (min-height: $layout-height-m) {
        margin-bottom: 0;
    }

    &__icon {
        margin-left: rem(10);
        margin-right: rem(10);
        width: rem(36);

        fill: c(link, base-day);

        transition:
          transform $animation-duration-shorter $animation-ease,
          width $animation-duration-shorter $animation-ease;

        // States
        &:hover {
            transform: scale(1.4);
        }

        &:active {
            transform: scale(0.8);
            transition: none;
        }

        // Conditions
        .is-nighttime & {
            fill: c(link, base-night);
        }

        .is-sox-champs &,
        .is-sox-rainout & {
            fill: white;
        }

        // Breakpoints
        // 1col
        @media screen and (min-width: $bp-600) and (max-width: ($layout-width-m - em(1))) {
            margin-left: 1.75vw;
            margin-right: 1.75vw;
            width: calc(#{rem(36)} + 0.75vw);
        }

        // 2col
        @media screen and (min-height: $layout-height-l) and (min-width: $bp-1300) {
            margin-left: 1.25vw;
            margin-right: 1.25vw;
            width: calc(#{rem(36)} + 0.75vw);
        }
    }
}
