// Component Styling -----------------------------------------------------------
.c-social-links {
    @extend %font-set-component-size;

    margin-bottom: 12vh;

    // Breakpoints
    @media screen and (min-width: $layout-width-m) and (min-height: $layout-height-m) {
        margin-bottom: 0;
    }

    &__icon {
        margin-left: rem(10);
        margin-right: rem(10);
        width: rem(36);

        fill: c(social, base-day);

        transition: transform $animation-duration-shorter $animation-ease;

        // States
        &:hover {
            transform: scale(1.2);
        }

        &:active {
            transform: scale(0.9);
            transition: none;
        }

        // Conditions
        .is-nighttime & {
            fill: c(social, base-night);
        }
    }
}
