<!doctype html>
<html class="no-js" lang="en-US">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>hancock.lighting</title>
    <meta name="description" content="Steady blue, clear view. Flashing blue, clouds due. Steady red, rain ahead. Flashing red, snow instead.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/main.min.css">

    <meta property="og:site_name" content="hancock.lighting"/>
    <meta property="og:description" content="Steady blue, clear view. Flashing blue, clouds due. Steady red, rain ahead. Flashing red, snow instead."/>
    <meta property="og:url" content="http://hancock.lighting/"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="http://hancock.lighting/static/favicons/card-facebook.png?v=201512132228"/>
    <meta property="og:image:width" content="599"/>
    <meta property="og:image:height" content="314"/>
    <meta name="twitter:title" content="hancock.lighting" />
    <meta name="twitter:description" content="Steady blue, clear view. Flashing blue, clouds due. Steady red, rain ahead. Flashing red, snow instead." />
    <meta name="twitter:site" content="@HancockLighting" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content="http://hancock.lighting/static/favicons/card-twitter.png?v=201512132228" />

    <link rel="apple-touch-icon" sizes="57x57" href="/static/favicons/apple-touch-icon-57x57.png?v=201512132228">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicons/apple-touch-icon-60x60.png?v=201512132228">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicons/apple-touch-icon-72x72.png?v=201512132228">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicons/apple-touch-icon-76x76.png?v=201512132228">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicons/apple-touch-icon-114x114.png?v=201512132228">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicons/apple-touch-icon-120x120.png?v=201512132228">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicons/apple-touch-icon-144x144.png?v=201512132228">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicons/apple-touch-icon-152x152.png?v=201512132228">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon-180x180.png?v=201512132228">

    <link rel="icon" type="image/png" href="/static/favicons/favicon-32x32.png" sizes="32x32">

    <link rel="icon" type="image/png" href="/static/favicons/android-chrome-192x192.png?v=201512132228" sizes="192x192">

    <link rel="icon" type="image/png" href="/static/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/favicons/favicon-16x16.png" sizes="16x16">

    <link rel="manifest" href="manifest.json?v=201512132228">
    <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg?v=201512132228" color="#9dc5f1">

    <link rel="shortcut icon" href="/static/favicons/favicon.ico">

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/static/favicons/mstile-144x144.png?v=201512132228">
    <meta name="theme-color" content="#ffffff">

    <link rel="prefetch" href="images/rain-day.gif">
    <link rel="prefetch" href="images/rain-night.gif">
    <link rel="prefetch" href="images/snow.gif">
    <link rel="prefetch" href="images/background-skyline-day.svg">
    <link rel="prefetch" href="images/background-skyline-night.svg">
    <link rel="prefetch" href="images/condition-clouds-day.svg">
    <link rel="prefetch" href="images/condition-clouds-night.svg">
    <link rel="prefetch" href="images/condition-stars.svg">

</head>
<body class="{{ classes|join(" ") }}">

    <h1 class="visuallyhidden">
        hancock.lighting
    </h1>

    <!-- Start of `l-container` -->
    <div class="l-container">
        <main class="l-skyline">
            <h2 class="visuallyhidden">
                Boston Skyline
            </h2>
            <svg xmlns="http://www.w3.org/2000/svg"
              id="beacon"
              class="c-tower"
              viewBox="0 0 278 723">
              <title>Hancock Tower Spire</title>
              <desc>Illustration of the Boston's Old Hancock Tower spire, with the windows illuminated to match the weather condition.</desc>
              <style>
                .st0{fill:#6C6C6C;} .st1{fill:#D8D8D8;} .st2{fill:#C8C8C8;} .st3{fill:#EAEAEA;} .st4{fill:#8A8A8A;} .st5{fill:#FFFFFF;} .st6{fill:none;stroke:#CCC5C4;stroke-miterlimit:10;}
              </style>
              <g id="column-right">
                <rect x="241" y="539.5" class="st0" width="14" height="12.3"/>
                <polygon class="st0" points="257,565.5 239,565.5 232,552.8 264,552.8"/>
                <polygon class="st0" points="257,580.1 239,580.1 232,567.5 264,567.5"/>
                <polygon class="st0" points="257,594.8 239,594.8 232,582.1 264,582.1"/>
                <rect x="231" y="595.8" class="st0" width="34" height="15.6"/>
                <rect x="228" y="599.8" class="st1" width="40" height="111.2"/>
                <rect x="223" y="666" class="st2" width="50" height="15"/>
                <rect x="218" y="699" class="st2" width="60" height="24"/>
                <rect x="238" y="531.5" class="st1" width="20" height="16"/>
                <path class="st1" d="M268 549.8h-40c-1.1 0-2 .9-2 2s.9 2 2 2h40c1.1 0 2-.9 2-2s-.9-2-2-2zM268 564.5h-40c-1.1 0-2 .9-2 2s.9 2 2 2h40c1.1 0 2-.9 2-2s-.9-2-2-2zM268 579.1h-40c-1.1 0-2 .9-2 2s.9 2 2 2h40c1.1 0 2-.9 2-2s-.9-2-2-2zM268 593.8h-40c-1.1 0-2 .9-2 2s.9 2 2 2h40c1.1 0 2-.9 2-2s-.9-2-2-2z"/>
              </g>
              <g id="column-left">
                <rect x="23" y="539.5" class="st0" width="14" height="12.3"/>
                <polygon class="st0" points="39,565.5 21,565.5 14,552.8 46,552.8"/>
                <polygon class="st0" points="39,580.1 21,580.1 14,567.5 46,567.5"/>
                <polygon class="st0" points="39,594.8 21,594.8 14,582.1 46,582.1"/>
                <rect x="13" y="595.8" class="st0" width="34" height="15.6"/>
                <rect x="10" y="599.8" class="st1" width="40" height="111.2"/>
                <rect x="5" y="666" class="st2" width="50" height="15"/>
                <rect y="699" class="st2" width="60" height="24"/>
                <rect x="20" y="531.5" class="st1" width="20" height="16"/>
                <path class="st1" d="M50 549.8H10c-1.1 0-2 .9-2 2s.9 2 2 2h40c1.1 0 2-.9 2-2s-.9-2-2-2zM50 564.5H10c-1.1 0-2 .9-2 2s.9 2 2 2h40c1.1 0 2-.9 2-2s-.9-2-2-2zM50 579.1H10c-1.1 0-2 .9-2 2s.9 2 2 2h40c1.1 0 2-.9 2-2s-.9-2-2-2zM50 593.8H10c-1.1 0-2 .9-2 2s.9 2 2 2h40c1.1 0 2-.9 2-2s-.9-2-2-2z"/>
              </g>
              <g id="column-bottom">
                <rect id="_x3C_Rectangle_x3E_" x="46.8" y="359.7" class="st1" width="166" height="363.3"/>
                <rect x="176.8" y="450.8" class="st3" width="36" height="32"/>
                <rect x="176.8" y="408.8" class="st3" width="36" height="32"/>
                <rect x="176.8" y="494.5" class="st3" width="36" height="32"/>
                <rect x="176.8" y="536.5" class="st3" width="36" height="32"/>
                <rect x="176.8" y="621.4" class="st3" width="36" height="32"/>
                <rect x="176.8" y="579.4" class="st3" width="36" height="32"/>
                <rect x="176.8" y="665" class="st3" width="36" height="32"/>
                <rect x="46.8" y="450.8" class="st3" width="9" height="32"/>
                <rect x="46.8" y="408.8" class="st3" width="9" height="32"/>
                <rect x="46.8" y="494.5" class="st3" width="9" height="32"/>
                <rect x="46.8" y="536.5" class="st3" width="9" height="32"/>
                <rect x="46.8" y="621.4" class="st3" width="9" height="32"/>
                <rect x="46.8" y="579.4" class="st3" width="9" height="32"/>
                <rect x="46.8" y="665" class="st3" width="9" height="32"/>
                <rect x="46.8" y="717" class="st0" width="166" height="6"/>
              </g>
              <g id="column-cap-bottom">
                <polygon class="st0" points="202.8,351.7 56.8,351.7 61.8,344.7 197.8,344.7"/>
                <polygon class="st2" points="212.8,390.8 46.8,390.8 40.8,350.7 218.8,350.7"/>
                <rect x="45.6" y="368.3" class="st3" width="168.5" height="1"/>
                <rect x="45.6" y="371.3" class="st3" width="168.5" height="1"/>
                <polygon class="st3" points="132.4,359.7 129.8,362.3 127.3,359.7 123.8,359.7 126,374.8 133.6,374.8 135.9,359.7"/>
                <polygon class="st3" points="213.3,374.8 215.2,374.8 217.1,362.3 214.5,359.7 211,359.7 211.7,364.2"/>
                <polygon class="st3" points="46.4,374.8 44.4,374.8 42.6,362.3 45.1,359.7 48.6,359.7 48,364.2"/>
                <polygon class="st3" points="160.5,359.7 157.9,362.3 155.4,359.7 151.9,359.7 154.1,374.8 161.7,374.8 164,359.7"/>
                <polygon class="st3" points="191.6,359.7 189,362.3 186.4,359.7 182.9,359.7 185.2,374.8 192.8,374.8 195.1,359.7"/>
                <polygon class="st3" points="73.2,359.7 70.7,362.3 68.1,359.7 64.6,359.7 66.9,374.8 74.5,374.8 76.7,359.7"/>
                <polygon class="st3" points="104.3,359.7 101.7,362.3 99.2,359.7 95.7,359.7 97.9,374.8 105.5,374.8 107.8,359.7"/>
              </g>
              <g id="antenna">
                <rect x="120.8" y="125.4" class="st1" width="18" height="36.3"/>
                <rect x="108.8" y="159.7" class="st4" width="42" height="77"/>
                <path class="st0" d="M156.8 159.7h-54c-1.1 0-2 .9-2 2s.9 2 2 2h54c1.1 0 2-.9 2-2s-.9-2-2-2zM156.8 183.7h-54c-1.1 0-2 .9-2 2s.9 2 2 2h54c1.1 0 2-.9 2-2s-.9-2-2-2zM156.8 207.7h-54c-1.1 0-2 .9-2 2s.9 2 2 2h54c1.1 0 2-.9 2-2s-.9-2-2-2z"/>
                <polygon class="st5" points="129.8,0.1 126.8,126.4 132.8,126.4"/>
                <g>
                  <rect x="118.8" y="123.4" class="st5" width="22" height="4"/>
                  <circle class="st5" cx="118.8" cy="125.4" r="2"/>
                  <circle class="st5" cx="140.8" cy="125.4" r="2"/>
                </g>
              </g>
              <g id="beacon-bottom-7">
                <rect x="75.8" y="665" class="st0" width="72" height="32" id="beacon-bottom-7-base"/>
                <rect x="75.8" y="665" class="st4" width="12" height="32" id="beacon-bottom-7-indent"/>
                <rect id="beacon-bottom-7-spur" x="93.8" y="680" transform="rotate(-90 109.833 681.028)" class="st4" width="32" height="2"/>
              </g>
              <g id="beacon-bottom-6">
                <rect x="75.8" y="621.4" class="st0" width="72" height="32" id="beacon-bottom-6-base"/>
                <rect x="75.8" y="621.4" class="st4" width="12" height="32" id="beacon-bottom-6-indent"/>
                <rect id="beacon-bottom-6-spur" x="93.8" y="636.4" transform="rotate(-90 109.833 637.362)" class="st4" width="32" height="2"/>
              </g>
              <g id="beacon-bottom-5">
                <rect x="75.8" y="579.4" class="st0" width="72" height="32" id="beacon-bottom-5-base"/>
                <rect x="75.8" y="579.4" class="st4" width="12" height="32" id="beacon-bottom-5-indent"/>
                <rect id="beacon-bottom-5-spur" x="93.8" y="594.4" transform="rotate(-90 109.833 595.362)" class="st4" width="32" height="2"/>
              </g>
              <g id="beacon-bottom-4">
                <rect x="75.8" y="536.5" class="st0" width="72" height="32" id="beacon-bottom-4-base"/>
                <rect x="75.8" y="536.5" class="st4" width="12" height="32" id="beacon-bottom-4-indent"/>
                <rect id="beacon-bottom-4-spur" x="93.8" y="551.5" transform="rotate(-90 109.833 552.472)" class="st4" width="32" height="2"/>
              </g>
              <g id="beacon-bottom-3">
                <rect x="75.8" y="494.5" class="st0" width="72" height="32" id="beacon-bottom-3-base"/>
                <rect x="75.8" y="494.5" class="st4" width="12" height="32" id="beacon-bottom-3-indent"/>
                <rect id="beacon-bottom-3-spur" x="93.8" y="509.5" transform="rotate(-90 109.833 510.472)" class="st4" width="32" height="2"/>
              </g>
              <g id="beacon-bottom-2">
                <rect x="75.8" y="450.8" class="st0" width="72" height="32" id="beacon-bottom-2-base"/>
                <rect x="75.8" y="450.8" class="st4" width="12" height="32" id="beacon-bottom-2-indent"/>
                <rect id="beacon-bottom-2-spur" x="93.8" y="465.8" transform="rotate(-90 109.833 466.805)" class="st4" width="32" height="2"/>
              </g>
              <g id="beacon-bottom-1">
                <rect x="75.8" y="408.8" class="st0" width="72" height="32" id="beacon-bottom-1-base"/>
                <rect x="75.8" y="408.8" class="st4" width="12" height="32" id="beacon-bottom-1-indent"/>
                <rect id="beacon-bottom-1-spur" x="93.8" y="423.8" transform="rotate(-90 109.833 424.805)" class="st4" width="32" height="2"/>
              </g>
              <g id="beacon-top">
                <rect x="61.8" y="254.7" class="st0" width="136" height="81" id="beacon-top-base"/>
                <rect id="beacon-top-spur-right" x="107.3" y="294.2" transform="rotate(-90 147.834 295.224)" class="st4" width="81" height="2"/>
                <rect id="beacon-top-spur-left" x="47.3" y="294.2" transform="rotate(-90 87.834 295.224)" class="st4" width="81" height="2"/>
              </g>
              <g id="column-cap-mid">
                <rect x="61.8" y="326.7" class="st3" width="136" height="18"/>
                <g id="vents">
                  <g id="vent-left">
                    <rect x="61.8" y="331.2" class="st4" width="22" height="1"/>
                    <rect x="61.8" y="333.2" class="st4" width="22" height="1"/>
                    <rect x="61.8" y="335.2" class="st4" width="22" height="1"/>
                    <rect x="61.8" y="337.2" class="st4" width="22" height="1"/>
                    <rect x="61.8" y="339.2" class="st4" width="22" height="1"/>
                  </g>
                  <g id="vent-center">
                    <rect x="91.8" y="331.2" class="st4" width="52" height="1"/>
                    <rect x="91.8" y="333.2" class="st4" width="52" height="1"/>
                    <rect x="91.8" y="335.2" class="st4" width="52" height="1"/>
                    <rect x="91.8" y="337.2" class="st4" width="52" height="1"/>
                    <rect x="91.8" y="339.2" class="st4" width="52" height="1"/>
                  </g>
                  <g id="vent-right">
                    <rect x="151.8" y="331.2" class="st4" width="46" height="1"/>
                    <rect x="151.8" y="333.2" class="st4" width="46" height="1"/>
                    <rect x="151.8" y="335.2" class="st4" width="46" height="1"/>
                    <rect x="151.8" y="337.2" class="st4" width="46" height="1"/>
                    <rect x="151.8" y="339.2" class="st4" width="46" height="1"/>
                  </g>
                </g>
              </g>
              <g id="safety-rail">
                <polygon class="st2" points="187.3,239.7 186.3,239.7 186.3,223.2 73.3,223.2 73.3,239.7 72.3,239.7 72.3,222.2 187.3,222.2"/>
                <line class="st6" x1="156.8" y1="239.7" x2="156.8" y2="222.7"/>
                <rect x="102.8" y="222.7" class="st2" width="1" height="17"/>
                <rect x="129" y="222.7" class="st2" width="1" height="17"/>
              </g>
              <circle id="beacon-antenna" class="st5" cx="129.8" cy="4.1" r="4"/>
              <g id="column-cap-top">
                <rect x="61.8" y="236.7" class="st3" width="136" height="28"/>
                <g id="decoration-top">
                  <rect x="61.8" y="245.7" class="st0" width="136" height="2"/>
                  <rect x="61.8" y="249.7" class="st0" width="136" height="2"/>
                  <rect x="60.8" y="242.7" class="st2" width="12" height="12"/>
                  <rect x="81.8" y="242.7" class="st2" width="12" height="12"/>
                  <rect x="102.8" y="242.7" class="st2" width="12" height="12"/>
                  <rect x="123.8" y="242.7" class="st2" width="12" height="12"/>
                  <rect x="144.8" y="242.7" class="st2" width="12" height="12"/>
                  <rect x="165.8" y="242.7" class="st2" width="12" height="12"/>
                  <rect x="186.8" y="242.7" class="st2" width="12" height="12"/>
                </g>
              </g>
            </svg>
        </main>

        <aside class="l-info">
            <h2 class="visuallyhidden">
                Information
            </h2>
            <!-- Start of `c-poem` -->
            <figure class="c-poem">
                <p class="c-poem__lines">
                    Steady blue, clear view.<br />
                    Flashing blue, clouds due.<br />
                    Steady red, rain ahead.<br />
                    Flashing red, snow instead<br />
                    (Except in summer, when it means<br />
                    the Red Sox game is canceled).
                </p>
                <figcaption>
                    <a rel="external" class="c-poem__more-info" href="https://en.wikipedia.org/wiki/Berkeley_Building#Weather_beacon">What is this?</a>
                </figcaption>
            </figure>
            <!-- End of `c-poem` -->

            <!-- Start of `c-project-info` -->
            <address class="c-project-info">
                <p class="c-project-info__by">
                    By
                </p>
                <p class="c-project-info__authors">
                    <a rel="author" href="https://twitter.com/mclaughlin">Dan</a> and <a rel="author" href="https://twitter.com/ericwbailey/">Eric</a>
                </p>

                <a rel="external" href="https://twitter.com/HancockLighting">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        class="c-project-info__project-link"
                        viewBox="0 0 40 40">
                        <title>Twitter</title>
                        <desc>Twitter's logo.</desc>
                        <path d="M20 0C8.926 0 0 8.926 0 20s8.926 20 20 20 20-8.926 20-20S31.074 0 20 0zm12.168 15.605v.743c0 7.5-5.684 16.152-16.152 16.152-3.184 0-6.192-.88-8.692-2.5.41.04.88.098 1.328.098 2.696 0 5.098-1.075 7.05-2.598-2.46-.04-4.59-1.582-5.292-3.848.332.06.703.098 1.074.098.508 0 1.016-.04 1.485-.176-2.6-.566-4.552-2.832-4.552-5.605v-.06c.742.43 1.62.703 2.56.703-1.525-1.015-2.5-2.734-2.5-4.726 0-1.016.272-1.992.74-2.87 2.813 3.475 7.032 5.74 11.76 5.975-.1-.41-.138-.88-.138-1.29 0-3.163 2.5-5.702 5.644-5.702 1.62 0 3.106.703 4.12 1.797 1.29-.274 2.443-.723 3.556-1.387-.41 1.348-1.25 2.46-2.44 3.164 1.15-.156 2.264-.47 3.28-.898-.78 1.113-1.72 2.148-2.832 2.93z" fill="#4A4A4A" fill-rule="evenodd"/>
                    </svg>
                </a>

                <a rel="external" href="https://github.com/">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        class="c-project-info__project-link"
                        viewBox="0 0 40 39">
                        <title>GitHub</title>
                        <desc>GitHub's logo, the Octocat.</desc>
                        <path d="M20.96 5.21a16.29 16.29 0 0 0-5.148 31.747.82.82 0 0 0 1.112-.785c0-.387-.014-1.41-.022-2.77-4.53.984-5.487-2.184-5.487-2.184a4.314 4.314 0 0 0-1.81-2.383c-1.478-1.01.113-.99.113-.99a3.422 3.422 0 0 1 2.495 1.68 3.468 3.468 0 0 0 4.74 1.352A3.48 3.48 0 0 1 17.99 28.7c-3.617-.412-7.42-1.81-7.42-8.05a6.296 6.296 0 0 1 1.677-4.373 5.86 5.86 0 0 1 .16-4.31s1.368-.44 4.48 1.67a15.44 15.44 0 0 1 8.155 0c3.11-2.11 4.476-1.67 4.476-1.67a5.85 5.85 0 0 1 .162 4.31 6.286 6.286 0 0 1 1.674 4.372c0 6.256-3.808 7.633-7.437 8.037a3.888 3.888 0 0 1 1.106 3.016c0 2.178-.02 3.935-.02 4.47a.816.816 0 0 0 1.12.782A16.292 16.292 0 0 0 20.96 5.21z"/>
                    </svg>
                </a>

            </address>
            <!-- End of `c-project-info` -->
        </aside>

    </div>
    <!-- End of `l-containercontainer` -->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71357525-1', 'auto');
      ga('send', 'pageview');

    </script>

</body>
</html>
