$colors: (
    // Basics
    black:  #000000,

    // Type
    type: (
        day:   #efe7e6,
        night: #26394b
    ),

    // Links
    link: (
        base-day:     #efe7e6,
        hover-day:    darken(#efe7e6, 25%),
        active-day:   darken(#efe7e6, 50%),
        base-night:   #26394b,
        hover-night:  lighten(#26394b, 25%),
        active-night: lighten(#26394b, 50%),
    ),

    // Time
    time: (
        day:   #d6edf0,
        night: #26394b
    ),

    // Beacon
    beacon: (
        red:  #ff9375,
        blue: #9dc5f1
    ),

    // Banner
    banner: (
        background-night: #26394b,
        background-day:   #d6edf0,
        type-night:       #26394b,
        type-day:         #d6edf0
    ),

    // GitHub
    github: (
        base-day:   #d6edf0,
        base-night: #26394b
    )
);

// Retrieve color from $colors map
@function c($color-name, $color-variant:null) {
    // Color variant is optional
    @if ($color-variant != null) {
        // Return `map-get` for cleaner declaration
        @return map-get(map-get($colors, $color-name), $color-variant);
    }
    // Color with color variant
    @else if ($color-variant == null) {
        @return map-get($colors, $color-name);
    }
}
