$colors: (
    // Basics
    black:  #000000,

    // Type
    type: (
        day:   hsla(7, 22%, 92%, 1),
        night: hsla(209, 33%, 22%, 1)
    ),

    // Links
    link: (
        base-day:   hsla(360, 100%, 100%, 1),
        hover-day:  darken(hsla(360, 100%, 100%, 1), 25%),
        active-day: darken(hsla(360, 100%, 100%, 1), 50%),
    ),

    // Time
    time: (
        day:   hsla(187, 45%, 89%, 1),
        night: hsla(209, 33%, 22%, 1)
    ),

    // Beacon
    beacon: (
        red:  hsla(13, 100%, 73%, 1),
        blue: hsla(211, 75%, 78%, 1)
    ),

    // Banner
    banner: (
        background-night: hsla(209, 33%, 22%, 1),
        background-day:   hsla(187, 45%, 89%, 1),
        type-night:       hsla(209, 33%, 22%, 1),
        type-day:         hsla(187, 45%, 89%, 1),
    ),

    // GitHub
    github: (
        base-day:   hsla(187, 45%, 89%, 1),
        base-night: hsla(209, 33%, 22%, 1)
    )
);

// Retrieve color from $colors map
@function c($color-name, $color-variant:null) {
    // Color variant is optional
    @if ($color-variant != null) {
        // Return `map-get` for cleaner declaration
        @return map-get(map-get($colors, $color-name), $color-variant);
    }
    // Color with color variant
    @else if ($color-variant == null) {
        @return map-get($colors, $color-name);
    }
}
