$colors: (
    // Basics
    black:  #000000,

    // Type
    type: (
        day:   #efe7e6,
        night: #26394b
    ),

    // Links
    link: (
        base-day:     #efe7e6,
        hover-day:    darken(#efe7e6, 15%),
        active-day:   #d6edf0,
        base-night:   #26394b,
        hover-night:  lighten(#26394b, 25%),
        active-night: #26394b,
    ),

    // Time
    time: (
        day:   #d6edf0,
        night: #26394b
    ),

    // Beacon
    beacon: (
        red-base:    #ff9375,
        red-spur:    lighten(#8a8a8a, 20%),
        red-indent:  lighten(#8a8a8a, 20%),
        blue-base:   #9dc5f1,
        blue-spur:   lighten(#8a8a8a, 20%),
        blue-indent: lighten(#8a8a8a, 20%),
        gray-base:   #6c6c6c,
        gray-spur:   #8a8a8a,
        gray-indent: #8a8a8a
    ),

    // Banner
    banner: (
        background-night: #26394b,
        background-day:   #d6edf0,
        type-night:       #26394b,
        type-day:         #d6edf0
    ),

    // GitHub
    github: (
        base-day:   #d6edf0,
        base-night: #26394b
    ),

    // Grays
    gray: (
        lighter: #e9e8e9,
        light:   #d9d8d6,
        medium:  #afb2b3,
        dark:    #929493,
        darker:  #696e71
    )
);

// Retrieve color from $colors map
@function c($color-name, $color-variant:null) {
    // Color variant is optional
    @if ($color-variant != null) {
        // Return `map-get` for cleaner declaration
        @return map-get(map-get($colors, $color-name), $color-variant);
    }
    // Color with color variant
    @else if ($color-variant == null) {
        @return map-get($colors, $color-name);
    }
}
