// Beacon Flash ----------------------------------------------------------------
@mixin beacon-flash($color) {
    @keyframes flash-#{$color}-base {
        75% { fill: c(beacon, #{$color}-base); }
    }
    @keyframes flash-#{$color}-spur {
        90% { fill: c(beacon, #{$color}-spur); }
    }
    @keyframes flash-#{$color}-indent {
        75% { fill: c(beacon, #{$color}-indent); }
    }
}


//  ----------------------------------------------------------------

@mixin skyline-position($condition-time) {

    // [1] Skyline distance from top
    @if $condition-time == "clear-day" {
        // Extra small height                                                                        ↓ [1]
        @media screen and (min-width: $bp-750) and (max-height: $layout-height-s) { background-size: $skyline-size-s-750; }
        @media screen and (min-width: $bp-850) and (max-height: $layout-height-s) { background-size: $skyline-size-s-850; }
        @media screen and (min-width: $bp-950) and (max-height: $layout-height-s) { background-size: $skyline-size-s-950; }
        @media screen and (min-width: $bp-1050) and (max-height: $layout-height-s) { background-size: $skyline-size-s-1050; }
        @media screen and (min-width: $bp-1150) and (max-height: $layout-height-s) { background-size: $skyline-size-s-1150; }
        @media screen and (min-width: $bp-1250) and (max-height: $layout-height-s) { background-size: $skyline-size-s-1250; }
        @media screen and (min-width: $bp-1350) and (max-height: $layout-height-s) { background-size: $skyline-size-s-1350; }
        @media screen and (min-width: $bp-1450) and (max-height: $layout-height-s) { background-size: $skyline-size-s-1450; }
    }

    // [1] Skyline distance from top
    // [2] Star's positon
    @if $condition-time == "clear-night" {
        // Extra small height                                                                        ↓ [1]                 ↓ [2]
        @media screen and (min-width: $bp-750) and (max-height: $layout-height-s) { background-size: $skyline-size-s-750, $background-size-stars-s; }
        @media screen and (min-width: $bp-850) and (max-height: $layout-height-s) { background-size: $skyline-size-s-850, $background-size-stars-s; }
        @media screen and (min-width: $bp-950) and (max-height: $layout-height-s) { background-size: $skyline-size-s-950, $background-size-stars-s; }
        @media screen and (min-width: $bp-1050) and (max-height: $layout-height-s) { background-size: $skyline-size-s-1050, $background-size-stars-s; }
        @media screen and (min-width: $bp-1150) and (max-height: $layout-height-s) { background-size: $skyline-size-s-1150, $background-size-stars-s; }
        @media screen and (min-width: $bp-1250) and (max-height: $layout-height-s) { background-size: $skyline-size-s-1250, $background-size-stars-s; }
        @media screen and (min-width: $bp-1350) and (max-height: $layout-height-s) { background-size: $skyline-size-s-1350, $background-size-stars-s; }
        @media screen and (min-width: $bp-1450) and (max-height: $layout-height-s) { background-size: $skyline-size-s-1450, $background-size-stars-s; }
    }

    @if $condition-time == "cloudy-day" {
        // Extra small height
        @media screen and (min-width: $bp-750) and (max-height: $layout-height-s) { background-position: $skyline-height-s, bottom rem(-70) center; background-size: $skyline-size-s-750, $background-size-clouds; }
        @media screen and (min-width: $bp-850) and (max-height: $layout-height-s) { background-position: $skyline-height-s, bottom rem(-100) center; background-size: $skyline-size-s-850, $background-size-clouds; }
        @media screen and (min-width: $bp-950) and (max-height: $layout-height-s) { background-position: $skyline-height-s, bottom rem(-110) center; background-size: $skyline-size-s-950, $background-size-clouds; }
        @media screen and (min-width: $bp-1050) and (max-height: $layout-height-s) { background-position: $skyline-height-s, bottom rem(-140) center; background-size: $skyline-size-s-1050, $background-size-clouds; }
        @media screen and (min-width: $bp-1150) and (max-height: $layout-height-s) { background-position: $skyline-height-s, bottom rem(-170) center; background-size: $skyline-size-s-1150, $background-size-clouds; }
        @media screen and (min-width: $bp-1250) and (max-height: $layout-height-s) { background-position: $skyline-height-s, bottom rem(-200) center; background-size: $skyline-size-s-1250, $background-size-clouds; }
        @media screen and (min-width: $bp-1350) and (max-height: $layout-height-s) { background-position: $skyline-height-s, bottom rem(-230) center; background-size: $skyline-size-s-1350, $background-size-clouds; }
        @media screen and (min-width: $bp-1450) and (max-height: $layout-height-s) { background-position: $skyline-height-s, bottom rem(-260) center; background-size: $skyline-size-s-1450, $background-size-clouds; }
    }

    @if $condition-time == "cloudy-night" {
        // Extra small height
        @media screen and (min-width: $bp-750) and (max-height: $layout-height-s) { background-position: $skyline-height-s, bottom rem(-70) center, $stars-position-s; background-size: $skyline-size-s-750, $background-size-clouds, $background-size-stars-s; }
        @media screen and (min-width: $bp-850) and (max-height: $layout-height-s) { background-position: $skyline-height-s, bottom rem(-100) center, $stars-position-s; background-size: $skyline-size-s-850, $background-size-clouds, $background-size-stars-s; }
        @media screen and (min-width: $bp-950) and (max-height: $layout-height-s) { background-position: $skyline-height-s, bottom rem(-110) center, $stars-position-s; background-size: $skyline-size-s-950, $background-size-clouds, $background-size-stars-s; }
        @media screen and (min-width: $bp-1050) and (max-height: $layout-height-s) { background-position: $skyline-height-s, bottom rem(-140) center, $stars-position-s; background-size: $skyline-size-s-1050, $background-size-clouds, $background-size-stars-s; }
        @media screen and (min-width: $bp-1150) and (max-height: $layout-height-s) { background-position: $skyline-height-s, bottom rem(-170) center, $stars-position-s; background-size: $skyline-size-s-1150, $background-size-clouds, $background-size-stars-s; }
        @media screen and (min-width: $bp-1250) and (max-height: $layout-height-s) { background-position: $skyline-height-s, bottom rem(-200) center, $stars-position-s; background-size: $skyline-size-s-1250, $background-size-clouds, $background-size-stars-s; }
        @media screen and (min-width: $bp-1350) and (max-height: $layout-height-s) { background-position: $skyline-height-s, bottom rem(-230) center, $stars-position-s; background-size: $skyline-size-s-1350, $background-size-clouds, $background-size-stars-s; }
        @media screen and (min-width: $bp-1450) and (max-height: $layout-height-s) { background-position: $skyline-height-s, bottom rem(-260) center, $stars-position-s; background-size: $skyline-size-s-1450, $background-size-clouds, $background-size-stars-s; }
    }

    @if $condition-time == "raining-day" {
        // Extra small height
        @media screen and (min-width: $bp-750) and (max-height: $layout-height-s) { background-size: cover, $skyline-size-s-750; }
        @media screen and (min-width: $bp-850) and (max-height: $layout-height-s) { background-size: cover, $skyline-size-s-850; }
        @media screen and (min-width: $bp-950) and (max-height: $layout-height-s) { background-size: cover, $skyline-size-s-950; }
        @media screen and (min-width: $bp-1050) and (max-height: $layout-height-s) { background-size: cover, $skyline-size-s-1050; }
        @media screen and (min-width: $bp-1150) and (max-height: $layout-height-s) { background-size: cover, $skyline-size-s-1150; }
        @media screen and (min-width: $bp-1250) and (max-height: $layout-height-s) { background-size: cover, $skyline-size-s-1250; }
        @media screen and (min-width: $bp-1350) and (max-height: $layout-height-s) { background-size: cover, $skyline-size-s-1350; }
        @media screen and (min-width: $bp-1450) and (max-height: $layout-height-s) { background-size: cover, $skyline-size-s-1450; }
    }

    @if $condition-time == "raining-night" {
        // Extra small height
        @media screen and (min-width: $bp-750) and (max-height: $layout-height-s) { background-size: cover, $skyline-size-s-750, $background-size-stars-s; }
        @media screen and (min-width: $bp-850) and (max-height: $layout-height-s) { background-size: cover, $skyline-size-s-850, $background-size-stars-s; }
        @media screen and (min-width: $bp-950) and (max-height: $layout-height-s) { background-size: cover, $skyline-size-s-950, $background-size-stars-s; }
        @media screen and (min-width: $bp-1050) and (max-height: $layout-height-s) { background-size: cover, $skyline-size-s-1050, $background-size-stars-s; }
        @media screen and (min-width: $bp-1150) and (max-height: $layout-height-s) { background-size: cover, $skyline-size-s-1150, $background-size-stars-s; }
        @media screen and (min-width: $bp-1250) and (max-height: $layout-height-s) { background-size: cover, $skyline-size-s-1250, $background-size-stars-s; }
        @media screen and (min-width: $bp-1350) and (max-height: $layout-height-s) { background-size: cover, $skyline-size-s-1350, $background-size-stars-s; }
        @media screen and (min-width: $bp-1450) and (max-height: $layout-height-s) { background-size: cover, $skyline-size-s-1450, $background-size-stars-s; }
    }

    @if $condition-time == "snowing" {
        // Extra small height
        @media screen and (min-width: $bp-750) and (max-height: $layout-height-s) { background-size: cover, $skyline-size-s-750; }
        @media screen and (min-width: $bp-850) and (max-height: $layout-height-s) { background-size: cover, $skyline-size-s-850; }
        @media screen and (min-width: $bp-950) and (max-height: $layout-height-s) { background-size: cover, $skyline-size-s-950; }
        @media screen and (min-width: $bp-1050) and (max-height: $layout-height-s) { background-size: cover, $skyline-size-s-1050; }
        @media screen and (min-width: $bp-1150) and (max-height: $layout-height-s) { background-size: cover, $skyline-size-s-1150; }
        @media screen and (min-width: $bp-1250) and (max-height: $layout-height-s) { background-size: cover, $skyline-size-s-1250; }
        @media screen and (min-width: $bp-1350) and (max-height: $layout-height-s) { background-size: cover, $skyline-size-s-1350; }
        @media screen and (min-width: $bp-1450) and (max-height: $layout-height-s) { background-size: cover, $skyline-size-s-1450; }
    }


}


// Clearfix ------------------------------------------------------------------
// Written as a mixin so it can be declared within a media query
@mixin clearfix {
    & {
        *zoom: 1;
    }

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}


// Strip Unit ------------------------------------------------------------------
@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}


// PX to Em/Rem -------------------------------------------------------------------
// Em
$browser-context: $global-type-size;

@function em($pixels, $context: $browser-context) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }

    @if (unitless($context)) {
        $context: $context * 1px;
    }

    @return $pixels / $context * 1em;
}

// Rem
$browser-context: $global-type-size;

@function rem($pixels, $context: $browser-context) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }

    @if (unitless($context)) {
        $context: $context * 1px;
    }

    @return $pixels / $context * 1rem;
}

// Text Truncate ---------------------------------------------------------------
// Written as a mixin so it can be declared within a media query. Requires the
// element to be block or inline-block
@mixin text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
