// File paths ------------------------------------------------------------------
$path-to-images: "../images";
$path-to-fonts: "../fonts";
$path-to-scripts: "../scripts";
$path-to-static: "../static";
$path-to-styles: "../styles";


// Typography ------------------------------------------------------------------
// Weights
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

// Sizes
$font-size-giga: 1;
$font-size-mega: 2;
$font-size-alpha: 3;
$font-size-beta: 4;
$font-size-gamma: 5;
$font-size-delta: 6;
$font-size-epsilon: 7;
$font-size-zeta: 8;
$font-size-eta: 9;

// Tracking
$font-tracking-tightest: -7px;
$font-tracking-tighter: -5px;
$font-tracking-tight: -3px;
$font-tracking-slight: 1px;
$font-tracking-loose: 3px;
$font-tracking-looser: 5px;
$font-tracking-loosest: 7px;

// Global
$global-type-family: 'Poppins', sans-serif;
$global-type-size: 16px !default;
$global-type-weight: $font-weight-medium;
$global-type-line-height: 1.4;


// Images ----------------------------------------------------------------------

// Backgrounds
$background-size-clouds: 135%;
$background-size-skyline: 102%;
$background-size-stars-s: 57%;
$background-size-stars-l: 98%;


// Animation -------------------------------------------------------------------
$animation-ease: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$animation-duration-shortest: 0.1s;
$animation-duration-shorter: 0.2s;
$animation-duration-short: 0.3s;
$animation-duration-long: 0.5s;
$animation-duration-longer: 0.7s;
$animation-duration-longest: 0.9s;

// Flash
$flash-iteration: infinite;
$flash-duration-and-ease: 3s ease-in;


// Breakpoints -----------------------------------------------------------------
// Manually creating breakpoint variables until Sass supports dynamic variable
// creation.
$bp-100: 6.25em; // 100px @ `$global-type-size`
$bp-150: 9.375em; // 150px @ `$global-type-size`
$bp-200: 12.5em; // 200px @ `$global-type-size`
$bp-250: 15.625em; // 250px @ `$global-type-size`
$bp-300: 18.75em; // 300px @ `$global-type-size`
$bp-350: 21.875em; // 350px @ `$global-type-size`
$bp-400: 25em; // 400px @ `$global-type-size`
$bp-450: 28.125em; // 450px @ `$global-type-size`
$bp-500: 31.25em; // 500px @ `$global-type-size`
$bp-550: 34.375em; // 550px @ `$global-type-size`
$bp-600: 37.5em; // 600px @ `$global-type-size`
$bp-650: 40.625em; // 650px @ `$global-type-size`
$bp-700: 43.75em; // 700px @ `$global-type-size`
$bp-750: 46.875em; // 750px @ `$global-type-size`
$bp-800: 50em; // 800px @ `$global-type-size`
$bp-850: 53.125em; // 850px @ `$global-type-size`
$bp-900: 56.25em; // 900px @ `$global-type-size`
$bp-950: 59.375em; // 950px @ `$global-type-size`
$bp-1000: 62.5em; // 1000px @ `$global-type-size`
$bp-1050: 65.625em; // 1050px @ `$global-type-size`
$bp-1100: 68.75em; // 1100px @ `$global-type-size`
$bp-1150: 71.875em; // 1150px @ `$global-type-size`
$bp-1200: 75em; // 1200px @ `$global-type-size`
$bp-1250: 78.125em; // 1250px @ `$global-type-size`
$bp-1300: 81.25em; // 1300px @ `$global-type-size`
$bp-1350: 84.375em; // 1350px @ `$global-type-size`
$bp-1400: 87.5em; // 1400px @ `$global-type-size`
$bp-1450: 90.625em; // 1450px @ `$global-type-size`
$bp-1500: 93.75em; // 1500px @ `$global-type-size`
$bp-1550: 71.875em; // 1550px @ `$global-type-size`
$bp-1600: 100em; // 1600px @ `$global-type-size`
$bp-1650: 103.125em; // 1650px @ `$global-type-size`
$bp-1700: 106.25em; // 1700px @ `$global-type-size`
$bp-1750: 109.375em; // 1750px @ `$global-type-size`
$bp-1800: 112.5em; // 1800px @ `$global-type-size`
$bp-1850: 115.625em; // 1850px @ `$global-type-size`
$bp-1900: 118.75em; // 1900px @ `$global-type-size`
$bp-1950: 121.875em; // 1950px @ `$global-type-size`
$bp-2000: 125em; // 2000px @ `$global-type-size`
$bp-2050: 128.125em; // 2050px @ `$global-type-size`
$bp-2100: 131.25em; // 2100px @ `$global-type-size`
$bp-2150: 134.375em; // 2150px @ `$global-type-size`
$bp-2200: 137.5em; // 2200px @ `$global-type-size`
$bp-2250: 140.625em; // 2250px @ `$global-type-size`
$bp-2300: 143.75em; // 2300px @ `$global-type-size`
$bp-2350: 146.875em; // 2350px @ `$global-type-size`
$bp-2400: 150em; // 2400px @ `$global-type-size`
$bp-2450: 153.125em; // 2450px @ `$global-type-size`
$bp-2500: 156.25em; // 2500px @ `$global-type-size`


// Background Positions --------------------------------------------------------
// Layout, Height
$layout-height-s: 28.0625em; // 449px @ `$global-type-size`
$layout-height-m: $bp-450;

// Layout, Width
$layout-width-s: 65.5625em;  // 1049px @ `$global-type-size`
$layout-width-m: $bp-1050;
$layout-width-l: $bp-1100;

// Conditions
$stars-position-s: top -1.25rem center; // 20px / `$global-type-size`

// Skyline, Height
$skyline-height-s: bottom -0.125rem center; // 2px / `$global-type-size`

// Skyline Size, Extra small height
$skyline-size-s-750: 75%;
$skyline-size-s-850: 70%;
$skyline-size-s-950: 65%;
$skyline-size-s-1050: 55%;
$skyline-size-s-1150: 50%;
$skyline-size-s-1250: 45%;
$skyline-size-s-1350: 40%;
$skyline-size-s-1450: 35%;
