// File paths ------------------------------------------------------------------
$path-to-images: "../images";
$path-to-fonts: "../fonts";
$path-to-scripts: "../scripts";
$path-to-styles: "../styles";


// Breakpoints -----------------------------------------------------------------
$breakpoint-wrist: 18.75em; // 300px;
$breakpoint-palm: 23.75em; // 380px;
$breakpoint-lap-small: 34.375em; // 550px;
$breakpoint-lap-large: 48em; // 768px;
$breakpoint-desk-small: 59.375em; // 950px;
$breakpoint-desk-large: 75em; // 1200px;
$breakpoint-wall: 83em; // 1328px;


// Typography ------------------------------------------------------------------
// Weights
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

// Sizes
$font-size-giga: 1;
$font-size-mega: 2;
$font-size-alpha: 3;
$font-size-beta: 4;
$font-size-gamma: 5;
$font-size-delta: 6;
$font-size-epsilon: 7;
$font-size-zeta: 8;
$font-size-eta: 9;

// Tracking
$font-tracking-tightest: -7px;
$font-tracking-tighter: -5px;
$font-tracking-tight: -3px;
$font-tracking-slight: 1px;
$font-tracking-loose: 3px;
$font-tracking-looser: 5px;
$font-tracking-loosest: 7px;

// Global
$global-font-family: 'Poppins', sans-serif;
$global-font-size: 16px !default;
$global-font-weight: $font-weight-medium;
$global-font-line-height: 1.4;


// Animation -------------------------------------------------------------------
$animation-ease: ease-in;
$animation-duration-shortest: 0.1s;
$animation-duration-shorter: 0.2s;
$animation-duration-short: 0.3s;
$animation-duration-long: 0.5s;
$animation-duration-longer: 0.7s;
$animation-duration-longest: 0.9s;

// Flash
$flash-iteration: infinite;
$flash-duration-and-ease: 4s ease-in;
