$z-index: (
    // Banish things out of sight
    basement: -999999,

    // Layout

    // Pop up/over UI elements

    // Ensure things are displayed
    ceiling: 999999
);

// Retrieve z-index vales from $z-index map
@function z($key) {
    @return map-get($z-index, $key);
}
