// Condition Styling -----------------------------------------------------------
.is-raining {
    // [1] Hides blurry edges
    &.is-daytime {
        .o-skyline {
            background:
              url(#{$path-to-images}/rain-day.gif) center center no-repeat, // [1]
              url(#{$path-to-images}/background-skyline-day.svg) bottom rem(-3) left rem(-3) no-repeat; // [1]

            background-size:
              cover, // Rain
              102%; // Skyline; [1]

            background-blend-mode:
              multiply, // Rain
              normal; // Skyline
        }
    }

    &.is-nighttime {
        .o-skyline {
            background:
              url(#{$path-to-images}/rain-night.gif) no-repeat, // [1]
              url(#{$path-to-images}/background-skyline-night.svg) no-repeat, // [1]
              url(#{$path-to-images}/condition-stars.svg) no-repeat;

            background-size:
              cover, // Rain
              250%; // Skyline, [1]

            background-blend-mode:
              screen, // Rain
              normal, // Skyline
              normal; // Stars

            background-position:
              center center, // Rain
              bottom rem(-3) right rem(-190) no-repeat, // Skyline
              bottom rem(-3) left rem(-3); // Stars

            @media (min-width: 32em) {
                background-size:
                  cover,
                  100%;
            }
        }
    }

    .c-tower {
        // Loop that targets beacon SVG
        @for $i from 1 through 7 {
            #beacon-antenna { fill: c(beacon, red-base); }
            #beacon-top-spur-left { fill: c(beacon, red-spur); }
            #beacon-top-spur-right { fill: c(beacon, red-spur); }
            #beacon-top-base { fill: c(beacon, red-base); }
            #beacon-bottom-#{$i}-spur { fill: c(beacon, red-spur); }
            #beacon-bottom-#{$i}-indent { fill: c(beacon, red-indent); }
            #beacon-bottom-#{$i}-base { fill: c(beacon, red-base); }
        }
    }
}
