// Condition Styling -----------------------------------------------------------
.is-daytime {
    background: linear-gradient(to bottom, #aacdea 0%, #f8fbfd 35%);

    transition: $background-transition;

    @media screen and (min-height: $layout-height-s) {
        background: linear-gradient(to bottom, #aacdea 0%, #f8fbfd 50%);
    }

    @media screen and (min-height: $layout-height-m) {
        background: linear-gradient(to bottom, #aacdea 0%, #f8fbfd 100%);
    }

    // 1col
    @media screen and (min-height: $layout-height-m) and (max-width: $layout-width-s) {
        background: linear-gradient(to bottom, #aacdea 0%, #f8fbfd 60%);
    }
}
