// Condition Styling -----------------------------------------------------------
.is-clear {

    // Colors the tower
    .c-tower {
        // Loop that targets beacon SVG
        @for $i from 1 through 7 {
            #beacon-antenna { fill: c(beacon, blue-base); }
            #beacon-top-spur-left { fill: c(beacon, blue-spur); }
            #beacon-top-spur-right { fill: c(beacon, blue-spur); }
            #beacon-top-base { fill: c(beacon, blue-base); }
            #beacon-bottom-#{$i}-spur { fill: c(beacon, blue-spur); }
            #beacon-bottom-#{$i}-indent { fill: c(beacon, blue-indent); }
            #beacon-bottom-#{$i}-base { fill: c(beacon, blue-base); }
        }
    }

    // Animates skyline size and stars when the viewport is resized
    &.is-daytime,
    &.is-nighttime {
        .l-skyline {
            transition: background-size $animation-duration-short $animation-ease; // Skyline
        }
    }

    // [1] Hides blurry edges
    &.is-daytime {
        .l-skyline {
            background:
              url(#{$path-to-images}/background-skyline-daytime.svg) no-repeat;

            background-position:
              bottom rem(-2) center; // Skyline, [1]

            background-size:
              $background-size-skyline; // Skyline, [1]

            // Breakpoints
            @include skyline-position(clear-day);
        }
    }

    // [1] Hides blurry edges
    &.is-nighttime {
        .l-skyline {
            background:
              url(#{$path-to-images}/background-skyline-nighttime.svg) no-repeat,
              url(#{$path-to-images}/condition-stars.svg) top center repeat;

            background-position:
              bottom rem(-2) center, // Skyline [1]
              top rem(-20) center; // Stars

            background-size:
              $background-size-skyline, // Skyline, [1]
              $background-size-stars-s; // Stars removed at extra small height

            // Breakpoints
            @include skyline-position(clear-night);

            // Normal star size at larger breakpoints
            @media screen and (min-height: $layout-height-m) { background-size: $background-size-skyline, $background-size-stars-l; }
        }
    }
}
