// Condition Styling -----------------------------------------------------------
.beacon-clouds {
    // Loop that targets beacon SVG
    @for $i from 1 through 7 {
        #beacon-antenna { animation: flash-blue-base $flash-duration-and-ease; animation-iteration-count: $flash-iteration; }
        #beacon-top-spur-left { fill: c(beacon, blue-spur); }
        #beacon-top-spur-right { fill: c(beacon, blue-spur); }
        #beacon-top-base { animation: flash-blue-base $flash-duration-and-ease; animation-iteration-count: $flash-iteration; }
        #beacon-bottom-#{$i}-spur { fill: c(beacon, blue-spur); }
        #beacon-bottom-#{$i}-indent { fill: c(beacon, blue-indent); }
        #beacon-bottom-#{$i}-base { animation: flash-blue-base $flash-duration-and-ease; animation-iteration-count: $flash-iteration; }
    }

    // Animation
    @keyframes "flash-blue-base" {
        50% { fill: c(beacon, blue-base); }
    }
}
