// Condition Styling -----------------------------------------------------------
.is-snowing {

    // Colors and animates the tower
    .c-tower {
        // Loop that targets beacon SVG
        @for $i from 1 through 7 {
            #beacon-antenna { animation: flash-red-base $flash-duration-and-ease; animation-iteration-count: $flash-iteration; }
            //#beacon-top-spur-left { animation: flash-red-spur $flash-duration-and-ease; animation-iteration-count: $flash-iteration; }
            //#beacon-top-spur-right { animation: flash-red-spur $flash-duration-and-ease; animation-iteration-count: $flash-iteration; }
            #beacon-top-base { animation: flash-red-base $flash-duration-and-ease; animation-iteration-count: $flash-iteration; }
            //#beacon-bottom-#{$i}-spur { animation: flash-red-spur $flash-duration-and-ease; animation-iteration-count: $flash-iteration; }
            //#beacon-bottom-#{$i}-indent { animation: flash-red-indent $flash-duration-and-ease; animation-iteration-count: $flash-iteration; }
            #beacon-bottom-#{$i}-base { animation: flash-red-base $flash-duration-and-ease; animation-iteration-count: $flash-iteration; }
        }

        // Animation logic
        @include beacon-flash(red);
    }

    // [1] Hides blurry edges
    &.is-daytime {
        .l-skyline {
            background:
              url(#{$path-to-images}/snow.gif) center center no-repeat,
              url(#{$path-to-images}/background-skyline-day-cloudy.svg) no-repeat;

            background-position:
              center center, // Rain
              bottom rem(-2) center; // Skyline [1]

            background-size:
              cover, // Rain
              $background-size-skyline; // Skyline, [1]

            // Breakpoints
            @include skyline-position(snowing-day);
        }
    }

    // [1] Hides blurry edges
    &.is-nighttime {
        .l-skyline {
            background:
              url(#{$path-to-images}/snow.gif) center center no-repeat,
              url(#{$path-to-images}/background-skyline-night-snowing.svg) no-repeat;

            background-position:
              center center, // Rain
              bottom rem(-2) center; // Skyline [1]

            background-size:
              cover, // Rain
              $background-size-skyline; // Skyline, [1]

            // Breakpoints
            @include skyline-position(snowing-night);
        }
    }
}
