// Condition Styling -----------------------------------------------------------
.is-nighttime {
    background: linear-gradient(to bottom, #0e2538 0%, #205887 50%);

    transition: $background-transition;

    @media screen and (min-height: $layout-height-m) {
        background: linear-gradient(to bottom, #0e2538 0%, #205887 100%);
    }

    // TODO: Add star twinkle
}
