// Condition Styling -----------------------------------------------------------
.is-cloudy {

    // Colors and animates the tower
    .c-tower {
        // Loop that targets beacon SVG
        @for $i from 1 through 7 {
            #beacon-antenna { animation: flash-blue-base $flash-duration-and-ease; animation-iteration-count: $flash-iteration; }
            #beacon-top-spur-left { animation: flash-blue-spur $flash-duration-and-ease; animation-iteration-count: $flash-iteration; }
            #beacon-top-spur-right { animation: flash-blue-spur $flash-duration-and-ease; animation-iteration-count: $flash-iteration; }
            #beacon-top-base { animation: flash-blue-base $flash-duration-and-ease; animation-iteration-count: $flash-iteration; }
            #beacon-bottom-#{$i}-spur { animation: flash-blue-spur $flash-duration-and-ease; animation-iteration-count: $flash-iteration; }
            #beacon-bottom-#{$i}-indent { animation: flash-blue-indent $flash-duration-and-ease; animation-iteration-count: $flash-iteration; }
            #beacon-bottom-#{$i}-base { animation: flash-blue-base $flash-duration-and-ease; animation-iteration-count: $flash-iteration; }
        }

        // Animation logic
        @include beacon-flash(blue);
    }

    // [1] Hides blurry edges
    &.is-daytime {
        .l-skyline {
            background:
              url(#{$path-to-images}/background-skyline-day.svg) no-repeat,
              url(#{$path-to-images}/condition-clouds-day.svg) no-repeat;

            background-position:
              bottom rem(-2) center, // Skyline [1]
              bottom center; // Clouds

            background-size:
              $background-size-skyline, // Skyline, [1]
              $background-size-clouds; // Clouds, [1]

            // Breakpoints
            @include skyline-position(cloudy-day);
        }
    }

    &.is-nighttime {
        .l-skyline {
            background:
              url(#{$path-to-images}/background-skyline-night.svg) no-repeat,
              url(#{$path-to-images}/condition-clouds-night.svg) no-repeat ,
              url(#{$path-to-images}/condition-stars.svg) top center repeat;

            background-position:
              bottom rem(-2) center, // Skyline [1]
              bottom center, // Clouds
              top rem(-20) center; // Stars

            background-size:
              $background-size-skyline, // Skyline, [1]
              $background-size-clouds, // Clouds, [1]
              $background-size-stars-s; // Stars removed at extra small height

            // Breakpoints
            @include skyline-position(cloudy-night);

            // Normal star size at larger breakpoints
            @media screen and (min-height: $layout-height-m) { background-size: $background-size-skyline, $background-size-clouds, $background-size-stars-l; }
        }
    }
}
