// Condition Styling -----------------------------------------------------------
.is-snowing {
    // [1] Hides blurry edges
    &.is-daytime {
        .o-skyline {
            background:
              url(#{$path-to-images}/snow.gif) center center no-repeat, // [1]
              url(#{$path-to-images}/background-skyline-day.svg) bottom rem(-3px) left rem(-3) no-repeat; // [1]

            background-size:
              cover, // Snow
              102%; // Skyline; [1]
        }
    }

    &.is-nighttime {
        .o-skyline {
            background:
              url(#{$path-to-images}/snow.gif) center center no-repeat, // [1]
              url(#{$path-to-images}/background-skyline-night.svg) bottom rem(-3px) left rem(-3) no-repeat, // [1]
              url(#{$path-to-images}/condition-stars.svg) top center no-repeat;

            background-size:
              cover, // Snow
              102%, // Skyline, [1]
              auto; // Stars
        }
    }

    // Animates the tower
    .c-tower {
        // Loop that targets beacon SVG
        @for $i from 1 through 7 {
            #beacon-antenna { animation: flash-red-base $flash-duration-and-ease; animation-iteration-count: $flash-iteration; }
            #beacon-top-spur-left { animation: flash-red-spur $flash-duration-and-ease; animation-iteration-count: $flash-iteration; }
            #beacon-top-spur-right { animation: flash-red-spur $flash-duration-and-ease; animation-iteration-count: $flash-iteration; }
            #beacon-top-base { animation: flash-red-base $flash-duration-and-ease; animation-iteration-count: $flash-iteration; }
            #beacon-bottom-#{$i}-spur { animation: flash-red-spur $flash-duration-and-ease; animation-iteration-count: $flash-iteration; }
            #beacon-bottom-#{$i}-indent { animation: flash-red-indent $flash-duration-and-ease; animation-iteration-count: $flash-iteration; }
            #beacon-bottom-#{$i}-base { animation: flash-red-base $flash-duration-and-ease; animation-iteration-count: $flash-iteration; }
        }

        // Animation logic
        @include beacon-flash(red);
    }
}
