// Condition Styling -----------------------------------------------------------
.is-raining {

    // Colors the tower
    .c-tower {
        // Loop that targets beacon SVG
        @for $i from 1 through 7 {
            #beacon-antenna { fill: c(beacon, red-base); }
            #beacon-top-spur-left { fill: c(beacon, red-spur); }
            #beacon-top-spur-right { fill: c(beacon, red-spur); }
            #beacon-top-base { fill: c(beacon, red-base); }
            #beacon-bottom-#{$i}-spur { fill: c(beacon, red-spur); }
            #beacon-bottom-#{$i}-indent { fill: c(beacon, red-indent); }
            #beacon-bottom-#{$i}-base { fill: c(beacon, red-base); }
        }
    }

    // [1] Hides blurry edges
    &.is-daytime {
        .l-skyline {
            background:
              url(#{$path-to-images}/background-skyline-daytime.svg) no-repeat,
              url(#{$path-to-images}/condition-rain-daytime.gif) no-repeat;

            background-blend-mode:
              normal, // Skyline
              normal; // Rain

            background-position:
              bottom rem(-2) center, // Skyline [1]
              center center; // Rain

            background-size:
            $background-size-skyline, // Skyline, [1]
            cover; // Rain

            // Breakpoints
            @include skyline-position(raining-day);
        }
    }

    &.is-nighttime {
        .l-skyline {
            background:
              url(#{$path-to-images}/condition-rain-nighttime.gif) no-repeat,
              url(#{$path-to-images}/background-skyline-nighttime.svg) no-repeat;

            background-blend-mode:
              overlay, // Rain
              normal; // Skyline

            background-position:
              center center, // Rain
              bottom rem(-2) center; // Skyline [1]

            background-size:
              cover, // Rain
              $background-size-skyline; // Skyline, [1]

            // Breakpoints
            @include skyline-position(raining-night);
        }
    }
}
