// Base Styling ------------------------------------------------------------------
// Applies `border-box` to all HTML elements:
// [1] https://github.com/AllThingsSmitty/css-protips#inherit-box-sizing
html {
    box-sizing: border-box; // [1]
    margin: 0;
    overflow-y: scroll;
}

// Applies `border-box` to all HTML elements:
// [1] https://github.com/AllThingsSmitty/css-protips#inherit-box-sizing
*, *:before,
*:after {
    box-sizing: inherit; // [1]
}

// Applies defaults to all type
html,
body {
    color: c(type, day);
    font-family: $global-font-family;
    font-weight: $global-font-weight;
    font-size: $global-font-size;
    line-height: $global-font-line-height;

    // Conditions
    &.is-nighttime {
        color: c(type, night);
    }
}

// Remove text-shadow in selection highlight
::selection { text-shadow: none; }

// Applies defaults to all child elements, override as needed
// [1] Better font rendering
body {
    margin: 0;

    font-size: 1em;

    -moz-osx-font-smoothing: grayscale; // [1]
    -webkit-font-smoothing: antialiased; // [1]
    text-rendering: optimizeLegibility; // [1]
}
