// Base Styling ------------------------------------------------------------------
// Applies `border-box` to all HTML elements:
// [1] https://github.com/AllThingsSmitty/css-protips#inherit-box-sizing
html {
    box-sizing: border-box; // [1]
    margin: 0;
    overflow-y: scroll;
}

// Triggers browser hyphenation based off of declared language:
// http://thenewcode.com/429/Classic-Typography-Effects-Hyphenation
html {
    &:lang(en-US) {
        @extend %font-hyphenation;
    }
}


// Applies `border-box` to all HTML elements:
// [1] https://github.com/AllThingsSmitty/css-protips#inherit-box-sizing
*,
*:before,
*:after {
    box-sizing: inherit; // [1]
}

// Applies defaults to all type
html,
body {
    color: c(type, day);
    font-family: $global-type-family;
    font-weight: $global-type-weight;
    font-size: $global-type-size;
    line-height: $global-type-line-height;

    // Conditions
    &.is-nighttime {
        color: c(type, night);
    }

    .is-sox-champs,
    .is-sox-rainout {
        color: c(sox, white);
    }
}

// Remove text-shadow in selection highlight
::selection { text-shadow: none; }

// Applies defaults to all child elements, override as needed
body {
    @extend %font-ligatures-common;
    @extend %font-kerning;
    @extend %font-smoothing;

    margin: 0;

    font-size: 1em;
}
