// Base Styling ----------------------------------------------------------------
a {
    color: c(link, base-day);
    text-decoration: none;

    transition: color $animation-duration-shortest $animation-ease;

    // States
    &:hover {
        color: c(link, hover-day);
    }

    &:active {
        color: c(link, active-day);

        transition: none;
    }

    // Conditions
    .sun-night & {
        color: c(link, base-night);

        &:hover {
            color: c(link, hover-night);
        }

        &:active {
            color: c(link, active-night);
        }
    }
}
